<header>
    <div class="about">
        <div class="covert-auth-img">
            <a href="/">
                <%- image_tag('css/images/head.svg', {alt: '一朝忧臣'}) %>
            </a>
        </div>
        <div class="auth-name">
            一朝忧臣
        </div>
        <p>
            何为编程?
        </p>
    </div>
</header>